<a href='/v1/thietbi/index'>Thiet bi</a>
<a href='/v1/nhacungcaps/index'>Nha cung cap</a>
<a href='/v1/nhasanxuat/index'>Nha san xuat</a>
<a href='/v1/loaithietbi/index'>Loai thiet bi</a>


<h1>Danh sach thiet bi</h1>

<table>
  <tr>
    <th>id</th>
    <th>tenthietbi</th>
    <th>id_nsx</th>
    <th>thong so</th>
    <th>id_loai</th>
    <th>gia</th>
    <th>id_nhacungcap</th>
  </tr>

  <% @thietbi.each do |thietbi| %>
  <tr>
    <td><%= thietbi.id_thietbi %></td>
    <td><%= thietbi.tenthietbi %></td>
    <td><%= thietbi.id_nsx %></td>
    <td><%= thietbi.thongsokt %></td>
    <td><%= thietbi.id_loai %></td>
    <td><%= thietbi.gia %></td>
    <td><%= thietbi.id_nhacungcap %></td>
  </tr>
  <% end %>
</table>